{% extends 'base.html' %}

{% block title %}
  Whiskey A-Z
{% endblock %}

{% block content %}
<style>
  /* Style for the whiskey list */
  .whiskey-list {
    margin-top: 0px; /* Add some space at the top */
    font-family: Arial, sans-serif; /* Use Arial or a similar sans-serif font */
    line-height: 1.6; /* Set line height for better readability */
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid layout */
    grid-gap: 10px; /* Add gap between items */
    justify-content: flex-end; /* Align the grid to the right */
  }

  /* Style for the whiskey list headings */
  .whiskey-heading {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333; /* Dark gray color */
  }

  /* Style for the whiskey names */
  .whiskey-name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  /* Style for the whiskey links */
  .whiskey-link {
    color: #000; /* Black color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
  }

  .whiskey-link:hover {
    color: #555; /* Dark gray color on hover */
  }
</style>



<div class="whiskey-list">
  {% for letter, whiskeys in whiskey_dict.items %}
    <div>
      <h2 class="whiskey-heading">{{ letter }}</h2>
      <ul>
        {% for whiskey in whiskeys %}
          <li class="whiskey-name"><a class="whiskey-link" href="https://www.compari.ro/CategorySearch.php?st={{ whiskey|cut:"0.7L"|cut:"0.75L"|cut:"0.2L" }}" target="_blank">{{ whiskey }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}
